<header >


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Recipe-Maker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="">All Recipes</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="add_recipe">Add Recipe</a>
        </li>
      </ul>
     <!-- <form class="form-inline" >
        <mat-form-field class="example-full-width" >
          <input (keydown)="getAutoCompleteRecipes()" id="id" name="id" type="text" placeholder="Pick one" aria-label="" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let recipe of filteredRecipes" [value]="recipe">
              {{recipe.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        &lt;!&ndash;<input class="form-control mr-sm-2" type="search" placeholder="Search For Recipe" aria-label="Search">&ndash;&gt;
        <button (click)="gotoRecipe()" class="btn btn-outline-success my-2 my-sm-0" type="btn">Search</button>
      </form>-->
    </div>
  </nav>
</header>
