.start-page-card {
  max-width: 30%;
}

main {
  display: flex;
}

@media (min-width: 350px) and (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column;

  }
  .start-page-card {
    max-width: 100%;
  }
}
