

.start-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.start-page-card {
  margin-bottom: 20px;
}

@media (min-width: 350px) and (max-width: 900px) {
  .start-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

}
