:host(app-recipe) { width:100% }
.card-body{

}

ul li {
  list-style: none;
}
h5 {
  text-align: center;
}

.instructions{
  margin-bottom: 10px;
}


@media (min-width: 350px) and (max-width: 900px) {
  div.container {
    display: flex;
    flex-direction: column-reverse;
  }
  h5{
    margin-top: 10px;
  }

  .right-div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
  }
}
