<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">

        <div class="recipe card-header">
          <div class="row">
            <h1 class="col-10">{{recipe?.name}}</h1>
            <span class="badge badge-secondary col-2 align-self-center"> {{recipe?.category}}</span>
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="left-div col-md-6">
              <div class=" image-div">
                <img *ngIf="recipe?.imageUrl" class="img-fluid rounded" [src]="recipe?.imageUrl">
              </div>
              <div>

                <mat-form-field >
                  <mat-select placeholder="Antal Portioner" #t (selectionChange)="changePortion(t.value)" >
                    <mat-option *ngFor="let portion of portions" [value]="portion">{{portion}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <ul>
                  <li *ngFor="let ingredient of recipe?.ingredients">
                    {{ingredient?.qty.toFixed(2) * number}} {{ingredient?.measure}} {{ingredient?.ingredient?.Namn}}
                  </li>
                </ul>
              </div>
            </div>

            <div class="right-div col-md-6">
              <div class="row">
                <div class="col-12 order-last col-md-12 order-first">
                  <h5><u>Instruktioner</u></h5>
                  <ol>
                    <li class="instructions"
                        *ngFor="let instruction of recipe?.instructions">
                      {{instruction}}
                    </li>
                  </ol>
                </div>

                <div class="col-12 order-first col-md-12 last">
                  <h5><u>Näringsämnen per portion</u></h5>
                  <ul>
                    <li>Energi (kcal): {{nutritionInfo?.energi}}</li>
                    <li>protein: {{nutritionInfo?.protein.toFixed(1)}} gram</li>
                    <li>kolhydrater: {{nutritionInfo?.kolhydrater.toFixed(1)}} gram</li>
                    <li>sokkerarter:</li>
                    <li>mättatfett:</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>

