<div class="row">
  <div class="col-12 col-md-6">

    <div class="card ">
      <div class="card-header">Add Recipe Info</div>
      <div class="card-body">
        <form (ngSubmit)="addRecipe(formen)" #formen="ngForm">
          <div class="form-group">
            <mat-form-field class="col-12">
              <input matInput ngModel name="name" type="text" id="name"
                     placeholder="Recipe Name">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="col-12 col-md-6">
              <mat-select placeholder="Category">
                <mat-option [value]="category" *ngFor="let category of categoryList">{{category}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-12 col-md-6">
              <input matInput type="text" placeholder="Picture Url" id="url" ngModel name="url">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="col">
            <textarea matInput ngModel name="recipeDescription" class="form-control" id="recipeDescription" rows="3"
                      placeholder="Recipe Description"></textarea>
            </mat-form-field>
          </div>
          <div class="form-group ">
            <button mat-stroked-button type="submit">Store</button>
          </div>
        </form>


        <div class="row">
          <div class="col-12 order-2 col-md-6 ">
            <form (ngSubmit)="addIngredient(f)" #f="ngForm" class="form-row">
              <mat-form-field class="col-12">
                <input (keydown)="getautoCompleteList()" type="text" placeholder="Ingredient Name" aria-label="Number"
                       matInput
                       [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field class="col-8">
                <input matInput ngModel name="showName" id="showName" type="text" placeholder="Shorter Name" required>
              </mat-form-field>

              <mat-form-field class="col-4">
                <input matInput ngModel name="qty" id="qty" type="number" placeholder="qty">
              </mat-form-field>

              <mat-form-field class="col-6">
                <input matInput placeholder="qty in grams" ngModel name="qtyInGrams">
              </mat-form-field>

              <mat-form-field class="col-6">
                <mat-select [ngModel] name="measure" placeholder="Type">
                  <mat-option [value]="measure" *ngFor="let measure of measureList" id="measure">{{measure}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <button type="submit" class="btn-sm btn-outline-primary ">Add</button>
              <button *ngIf="!currentIngredients.length == [0]" (click)="saveRecipe()" type="button"
                      class="btn btn-outline-primary">Save Recipe
              </button>
            </form>
          </div>

          <div class="col-12 order-1 col-md-6 ingredients">
            <ul>
              <li *ngFor="let ingredient of currentIngredients">
                {{ingredient.qty}} {{ingredient.measure}} {{ingredient.showName}}
                <span><img (click)="deleteIngredient(ingredient)" [src]="TRASH"></span>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="col col-md-6">
    <div class="card ">
      <div class="card-header">Instructions
      </div>
      <div class="card-body input-field">

        <ol >
          <li *ngFor="let instruction of instructions">
              <span>
              <img (click)="deleteInstruction(instruction)" class="img-fluid" [src]="TRASH">
            </span>
              {{instruction}}
          </li>
        </ol>

        <form (ngSubmit)="addInstructions(instruct)" #instruct="ngForm">
          <div class="form-row ">
            <mat-form-field class="col-12">
              <input
                matInput
                ngModel
                name="instruction"
                id="instruction"
                type="text"
                placeholder="Instructions">
            </mat-form-field>
            <div class="col-12">
              <button type="submit" class="btn btn-sm btn-outline-info">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

